@import "../../styles/Nav/Nav.css";
aside {
  flex-basis: 26%;
  border: 1px solid red;
  padding: 0 5px;
}

body {
  background-color: goldenrod;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
img {
  max-width: 100%;
}
.button--close {
  margin: 15px;
}
.content {
  display: flex;
  flex-wrap: wrap;
}
.dialog--tips {
  padding: 5px;
}
.fish {
  padding: 5px;
}
.fishies {
  display: flex;
  flex-wrap: wrap;
  width: 68%;
  justify-content: space-evenly;
}
.fishies__card {
  flex-basis: 28%;
  text-align: center;
  width: 28%;
  border: 2px dotted red;
  padding: 0 8px;
  margin: 0 4px;
  margin-bottom: 8px;
  padding-bottom: 10px;
}
.fish__size {
  height: 170px;
  width: 250px;
}
.highlightFish {
  background-color: darkgoldenrod;
  color: lightgoldenrodyellow;
}
.tipsHighlight {
  border: 1px solid darkgoldenrod;
  color: lightgoldenrodyellow;
}
@media (max-width: 600px) {
  .fishies {
    flex-basis: 100%;
  }
  aside {
    flex-basis: 61%;
  }
}
